# Startup script for the Monasca Log-API

description "Monasca Log-API python app"
start on runlevel [2345]

console log
respawn

setgid {{ monasca_group }}
setuid {{ log_api_user }}

exec {{ log_api_virtualenv_dir }}/bin/gunicorn -k eventlet --paste {{ log_api_ini_file }}
