# {{ ansible_managed }}

[DEFAULT]
name = monasca_log_api

[pipeline:main]
pipeline = auth roles api

[app:api]
paste.app_factory = monasca_log_api.server:launch

[filter:auth]
paste.filter_factory = monasca_log_api.healthcheck.keystone_protocol:filter_factory

[filter:roles]
paste.filter_factory = monasca_log_api.middleware.role_middleware:RoleMiddleware.factory

[server:main]
use = egg:gunicorn#main
proc_name = monasca_log_api
check-config = True
host = {{ log_api_bind_host | default('127.0.0.1') }}
port = {{ log_api_port|int }}
workers = {{ log_api_workers | default(1) | int }}
user = {{ log_api_user }}
group = {{ monasca_group }}
loglevel = {{ log_api_log_level }}
chdir = {{ log_api_virtualenv_dir }}
{% if ((log_api_certfile is defined) and (log_api_keyfile is defined)) %}
certfile = {{ log_api_certfile }}
keyfile = {{ log_api_keyfile }}
{% endif %}
