# {{ ansible_managed }}

{% set authProtocol = 'https' if keystone_use_https else 'http' %}

[DEFAULT]
log_config_append = {{ log_api_logging_file }}

[service]
region = {{ api_region }}
max_log_size = {{ log_api_max_log_size }}

[log_publisher]
topics = {{ log_topic }}
kafka_url = {{ kafka_hosts }}
max_message_size = {{ log_api_max_message_size|int }}

[keystone_authtoken]
identity_uri = {{ authProtocol }}://{{ keystone_host }}:{{ keystone_user_port|int }}
auth_uri = {{ authProtocol }}://{{ keystone_host }}:{{ keystone_port|int }}
auth_version = {{ keystone_version }}
admin_password = {{ keystone_admin_password }}
admin_user = {{ keystone_admin }}
admin_tenant_name = {{ keystone_admin_project }}
insecure = {{ not keystone_use_https|bool }}
{% if memcached_nodes is defined and (memcached_nodes is iterable and memcached_nodes|length>=1) %}
memcached_servers = {{ memcached_nodes|join(',') }}
{% endif %}

[kafka_healthcheck]
kafka_url = {{ kafka_hosts }}
kafka_topics = {{ log_topic }}

[roles_middleware]
path = /v2.0/log,/v3.0/logs
default_roles = {{ default_authorized_roles }}
agent_roles = {{ agent_authorized_roles }}

[dispatcher]
logs = monasca_log_api.reference.v2.logs:Logs
logs_v3 = monasca_log_api.reference.v3.logs:Logs
versions = monasca_log_api.reference.versions:Versions
healthchecks = monasca_log_api.reference.healthchecks:HealthChecks
