# {{ ansible_managed }}

{% if log_api_use_wsgi %}
    {% set handlers='console' %}
{% else %}
    {% set handlers='console,file' %}
{% endif %}

[loggers]
keys = root, kafka

[handlers]
keys = {{ handlers }}

[formatters]
keys = context

[logger_root]
level = {{ log_api_log_level }}
handlers = {{ handlers }}

[logger_kafka]
level = {{ log_api_log_level }}
handlers = {{ handlers }}
qualname = kafka
propagate = 0

[handler_console]
class = logging.StreamHandler
args = (sys.stderr,)
level = {{ log_api_handler_log_level }}
formatter = context

{% if not log_api_use_wsgi %}
[handler_file]
class = logging.handlers.RotatingFileHandler
args = ('{{ log_api_log_dir }}/monasca-log-api.log', 'a', {{ log_api_file_size }}, 5)
level = {{ log_api_handler_log_level }}
formatter = context
{% endif %}

[formatter_context]
class = oslo_log.formatters.ContextFormatter
