# {{ ansible_managed }}

Listen {{ log_api_port|int }}

<VirtualHost {{ log_api_bind_host|default('127.0.0.1') }}:{{ log_api_port|int }}>
    WSGIDaemonProcess monasca-log-api processes={{ log_api_workers|int }} threads=1 user={{ log_api_user }} group={{ log_api_group }} socket-timeout=120 display-name=%{GROUP} {{ (log_api_install_mode == 'pip') | ternary(log_api_virtualenv_dir,'') }}
    WSGIProcessGroup monasca-log-api
    WSGIApplicationGroup %{GLOBAL}
    WSGIScriptAlias / {{ log_api_wsgi_script }}

    WSGIPassAuthorization On

    LogLevel info
    ErrorLogFormat "%{cu}t %M"
    ErrorLog {{ log_api_wsgi_log_dir }}/monasca-log-api.log
    CustomLog {{ log_api_wsgi_log_dir }}/monasca-log-api_access.log combined

    <Directory {{ log_api_wsgi_script_dir }}>
        Require all granted
    </Directory>

    {% if log_api_install_mode == 'pip' %}
    <Directory {{ log_api_virtualenv_dir }}>
        Require all granted
    </Directory>
    {% endif %}

    AddDefaultCharset utf-8

</VirtualHost>

